@font-face {
  font-family: 'mc';
  src: url('mc-rus.ttf') format('truetype');
}
body {
  /* font-display: "Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif; */
  /* font-family: "Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif; */
  font-family: mc;
  background-color: #2C2F33;
  color: #FFFFFF;
}
.wsChat{
  position: absolute;
  border:3px #5d5bad;
  font-family: 'mc';
  width: 80%;
  height: 80%;
  border-radius: 0.25rem;
}
.wsChat #wsMsgInput {
  font-family: 'mc';
  margin: 0;
  display: block;
  margin-bottom: 0.25rem;
  width: 100%;
  padding: 0.375rem 0.75rem;
  background-color: #3e4144;
  background-clip: padding-box;
  border: 1px solid #65636e;
  color: #FFF;
  border-radius: 0.25rem;
  position: fixed;
  bottom:0px;
  outline: 1px solid #8d8b97;
}
.mcBtn {
  width:70%;
  padding: 0.375rem 0.75rem;
  font-size: 18px; 
  font-family: mc; 
  background-color: #666170; 
  color: #FFF;
}

#disconnectReason {
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
#disconnectReason .message {
  font-size:32px;
  font-family: mc;
}
#disconnectReason #reason {
  font-size: 18px;
  font-family: mc;
}
#disconnectReason .mcBtn {
  width: 70%;
}